.about * h1 {
  color: var(--secondary-hue-light);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold; 
  font-size: 60pt;
  text-align: left;
  margin-left: -5px;
  line-height: 75%;
}

.about * h2 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 50pt;
  text-align: left;
  margin-left: -5px;
  line-height: 75%;
  float: left;
}

.about * p {
  font-family: 'Nunito', sans-serif;
}

#WRS{
  border: 2px solid var(--secondary-hue-light);
  min-width: 75vw;
}

#intro{
  background-color: var(--primary-hue-mid);
  min-width: 75vw;
}

#firstword > h2{
  padding-right: 20px;
  margin-bottom: 0px;
}

#paragraph > p{
  margin-top: 12px;
}

p>a{
  color: var(--secondary-hue-light);
}

@media (max-width: 768px) {
    .about * h1{
      font-size: 16vw;
    }

    #WRS{
      margin-top: 20px;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
    }

    #intro{
      margin-top: 20px;
      margin-left: 5px;
      margin-right: 5px;
    }
}