.resume * h1 {
  color: var(--secondary-hue-light);
  font-family: 'DM Serif Display', serif;
  font-size: 50pt;
  text-align: left;
  margin-bottom: 0px;
}

.resume > resume-header {
  padding-left: 0px;
}

.resume * div {
  font-family: 'Raleway', sans-serif;
}


.resume > .fundamental{
  margin-top: 5px;
  background-color: var(--primary-hue-light);
}

.resume * .header{
  color: var(--text-on-primary);  
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--text-on-primary);
}

.resume * a{
  color: var(--text-on-primary);  
}

resume-header > span {
  font-family: 'Raleway', sans-serif;
}

.box{
  background-color: var(--primary-hue-mid);

}

.resume > .fundamental {
  background-color: var(--primary-hue-light);
}

.resume * li {
  font-size: 10pt;
}

ul{
  padding-inline-start: 10px;
}

.row [class*="col-md"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row [class*="col-lg"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

@media(max-width: 991px) {.row [class*="col-sm"]{
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 1px;
}
}


.row{
  overflow: hidden; 
}

.resume * h2 {
  font-family: 'Roboto', sans-serif;
}

.resume * h3 {
  font-family: 'Roboto', sans-serif;
}

resume-experience * h2{
  margin-bottom: 0px;
}

resume-education * h2{
  margin-bottom: 0px;
}

resume-education * br{
  display: block;
  margin: 5px 0;
}

resume-software{
  margin-bottom: 20px;
}