body {
  font-size: 16px;
  color: var(--text-on-primary);
  background-color:var(--primary-hue-light);
  font-family: 'Nunito', sans-serif;
  padding-top: 63px;
  overflow: hidden;
}

main {
  position: absolute;
  top: 63px;
  overflow-y: scroll;
  bottom: 0;
  width: 100%;
}

.initial-loading {
  margin-top: 60px;
}

.navbar-nav > li{
  margin-right:5px;
  margin-left: 5px;
  color: var(--text-on-primary);
  background-color:var(--primary-hue-mid);

}

/** HEADER **/
#header-nav {
  background-color:var(--primary-hue-dark);
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.btn {
  background-color:rgba(0,0,0,0);
  border: 0px;
}

.btn:hover {
  color:var(--secondary-hue-light);  
  background-color:rgba(0,0,0,0);
}

.navbar-brand h1 { /* WRS */
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-on-primary);
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: var(--primary-hue-dark);
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav-list a {
  border: 1px solid #E7E7E7;
  text-align: center;
  padding-top: -10px;
  padding-bottom: -10px;
  color: var( --text-on-primary)
}
#nav-list a span {
  font-size: 1.8em;
}


#nav-list .active a {
  background:var(--primary-hue-mid);
  border: 1px solid var(--secondary-hue-mid);
}

.btn .active {
  color:var(--secondary-hue-mid);
}


#nav-list a:hover {
  background:var(--secondary-hue-light);
  color: var(--primary-hue-mid);
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid var(--text-on-primary);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.dropdown-menu{
  padding: 0px;
  background-color: var(--primary-hue-mid);
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
a[ui-sref="admin.auth"] {
  color: #fff;
}
/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-collapse{
    border-color: var(--primary-hue-dark);
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 30pt; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }
  #nav-list a {
    border: 0px solid #E7E7E7;
    text-align: center;
    padding-top: -10px;
    padding-bottom: -10px;
    color: var( --text-on-primary)
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  
  #nav-list .active a {
    background:var(--secondary-hue-light);
    border: 0px solid var(--secondary-hue-light);
  }
  
  
  #nav-list a:hover {
    background:var(--secondary-hue-light);
    color: var(--primary-hue-mid);
  }
  
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 12px;
    height: 50px;
    font-size: 30pt;
  }

  .navbar-toggle{
    padding-top:-20px;
  }
  /* End Header */
}
