<div class="container resume">
    <div class="fundamental">
        <div class="col-md-12 col-lg-12 ">
            <resume-header personal-info="resumeCtrl.personal_info"></resume-header>
        </div>
    </div>
    <div class="container fundamental">
        <div>
            <h2 class="header">Experience</h2>
        </div>
        <div class="row row-eq-height">
            <resume-experience ng-repeat="experience in resumeCtrl.experiences" experience="experience">
            </resume-experience>
        </div>
    </div>
    <div class="fundamental container">
        <div>
            <h2 class="header">Education</h2>
        </div>
        <div class="row row-eq-height">
            <resume-education ng-repeat="education in resumeCtrl.education" education="education">
            </resume-education>
        </div>
    </div>
    <div class="fundamental container">
        <div>
            <h2 class="header">Software </h2>
        </div>
        <resume-software class="col-md-12 col-lg-12" software="resumeCtrl.software"></resume-software>
    </div>
</div>