<div class="container">
    <resume-header personal-info="resumeCtrl.personal_info" ></resume-header>
    <div class="container box">
        <resume-experience ng-repeat="experience in resumeCtrl.experiences" experience="experience"></resume-experience> 
    </div>
    <div class="container box">
        <resume-education ng-repeat="education in resumeCtrl.education" education="education"></resume-education> 
    </div>
    <resume-software software="resumeCtrl.software"></resume-software>
</div>